.mainLogo {
  width: 50px;
}
._carrusel{
  width: 100vh;
  height: 95vh;
}

.chiquita{
  width: 100vh;
  height: 80%;
}
@media (max-width: 767px) {
  #carouselExampleControls{
    display: none;
  }
  #fijaMobile{
    display: inline;
  }
}

@media (min-width: 767px){
  #fijaMobile{
    display: none;
  }
}